@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.author, .quote {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-style: italic;
}

.quote {
  font-size: 1.5rem;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  text-align: center;
}
