@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  text-align: center;
}
